<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div id="content-page" class="content-page">

  <div class="container-fluid">
      <div class="rows">
          <div class="col-lg-12">
              <div class="iq-card">
                <div class="iq-card-body">

                  <form [formGroup] = "registerForm" (ngSubmit)="register()">
                     <div class="row">
                         <div class="col-lg-10">
                            <div class="form-group">
                                <label for="furl">Nom et prenom</label>
                                <input type="text" class="form-control" id="furl" formControlName="fullname" placeholder="Prénoms et nom">
                            </div>
                            <div class="form-group">
                                <label for="turl">Email</label>
                                <input type="text" class="form-control" id="turl" formControlName="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label for="instaurl">Telephone</label>
                                <input type="text" class="form-control" id="instaurl" formControlName="telephone" placeholder="Téléphone">
                            </div>
                            <div class="form-group">
                                <label for="lurl">Mot de passe</label>
                                <input type="text" class="form-control" id="lurl" formControlName="password" placeholder="Mot de passe">
                            </div>

                              <div class="form-group col-sm-6">
                                  <label class="d-block">Genre:</label>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadio6" name="customRadio1" formControlName="genre" class="custom-control-input" checked="">
                                    <label class="custom-control-label" for="customRadio6"> Masculin </label>
                                  </div>
                                  <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadio7" name="customRadio1" formControlName="genre" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadio7"> Feminin </label>
                                  </div>
                              </div>
                         </div>

                         <div class="col-lg-2">
                            <div class="form-group">
                              <div class="add-img-user profile-img-edit">
                                <img class="profile-pic img-fluid" src="assets/images/user/11.png" alt="profile-pic">
                                <div class="p-image">
                                  <a href="javascript:void();" class="upload-button btn iq-bg-primary">Télécharger</a>
                                  <input class="file-upload" type="file" accept="image/*">
                                </div>
                            </div>

                            <div class="img-extension mt-3">
                                <div class="d-inline-block align-items-center">
                                    <span>Only</span>
                                  <a href="javascript:void();">.jpg</a>
                                  <a href="javascript:void();">.png</a>
                                  <a href="javascript:void();">.jpeg</a>
                                  <span>allowed</span>
                                </div>
                            </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-primary btn-sm">SAUVEGARDER</button>
                        </div>
                    </div>
                 </form>

                </div>
              </div>
          </div>
      </div>
  </div>

</div>
