  <!-- Sidebar  -->
  <div class="iq-sidebar">
    <div class="iq-navbar-logo d-flex justify-content-between">
       <a routerLink="/dashboard" class="header-logo">
          <img src="assets/images/logo.png" class="img-fluid rounded" alt="">
          <span>iPAYE</span>
       </a>
       <div class="iq-menu-bt align-self-center">
          <div class="wrapper-menu">
             <div class="main-circle"><i class="ri-menu-line"></i></div>
             <div class="hover-circle"><i class="ri-close-fill"></i></div>
          </div>
       </div>
    </div>
    <div id="sidebar-scrollbar">
       <nav class="iq-sidebar-menu">
          <ul id="iq-sidebar-toggle" class="iq-menu">
            <li>
              <a routerLink="/dashboard" class="iq-waves-effect"><i class="las la-calendar iq-arrow-left"></i><span>Tableau de bord</span></a>
           </li>
             <li>
                <a href="#dashboard" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span class="ripple rippleEffect"></span><i class="las la-home iq-arrow-left"></i><span>Utilisateurs</span><i class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                <ul id="dashboard" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle">
                   <li><a routerLink="/users/add" ><i class="las la-laptop-code"></i>Ajouter</a></li>
                   <li><a routerLink="/users" ><i class="las la-laptop-code"></i>Liste</a></li>
                </ul>
             </li>
          </ul>
       </nav>
       <div class="p-3"></div>
    </div>
 </div>
